@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin center {
    align-items: center;
    justify-content: center;
}

@mixin w-h ($width: 0, $height: 0) {
    width: $width;
    height: $height;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
    display: flex ;
    height: 50px ;
    align-items: center;
    
}

@mixin roboto ($size: 16px, $weight: 500) {
    font-size: $size;
    font-weight: $weight;
    font-family: 'Roboto', sans-serif;
}

// - COULEUR - //
$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #008766;
$iconback-color: #353535;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);


body {
    min-width: 375px;
    margin: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
    outline: none;
}


h1 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Shrikhand', sans-serif;
}


.main {
    margin: 0;
    padding: 0;
    @include flexbox-center;
    flex-direction: column; 
}

.header {
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    position: relative;
    @include flexbox-center();
    @include w-h(100%,80px);
    &__logo {
        font-family: 'Shrikhand', cursive;
        margin-top: 20px;
        color: black;    
    }
}

nav {
    @include w-h ( 100%, 50px);
    @include flexbox-center();
    background-color: #EAEAEA;

    .fa-location-dot {
        color: $iconback-color;
    }

    input {
        text-align: center;
        @include w-h(145px, 20px);
        @include roboto(16px, 500);
        background-color: #EAEAEA;
        padding-left: 8px;
    }

    input::placeholder {
        color: $iconback-color;
    }
}

.location {
    width: 100%;
    @include flexbox-center();
    background: #EAEAEA;
    color: $iconback-color;
    

    &__city {
        margin-left: 13px;
        @include roboto (16px, 500);
        color: $iconback-color;
    }
}

.hero {
    background: #FAFAFA;
    width: 100%;
    &__container {
        width: 100%;
        padding: 20px;
        @include flexbox-center();
        @include flex-column();
        padding: 50px 0;
    }
    &__title {
        text-align: center;
        max-width: 250px;
        margin: 0;
    }
    &__text {
        text-align: center;
        @include roboto(16px, 300);
        max-width: 420px;
        padding: 15px;
    }
    &__button {
        @include button-style;
        &:hover {
            @include button-hover;
        }
    }
}


/** process**/

.process__contain {
    padding: 25px 0;
    width: 100%;
    background-color: #FFFFFF;
    @include flex-column()
}

.process {
    width: 95%;
    max-width: 1200px;
    background-color: white;
    padding: 0 ;   
    @include flex-column();
    &__title {
        margin-left: 20px;
    }
    &__step {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        @include w-h (auto, 72px);
        margin: 10px 0px 10px 25px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        &:hover {
            @include button-hover;
            background: lighten(#f7f7f7, 3%);
        }
    }
    &__number {
        background: $primary-color;
        color: white;
        position: absolute;
        padding: 3px 8px 3px 8px;
        border-radius: 500px;
        transform: translateX(-50%);
        }
    &__icon {
        color: #7E7E7E;
        margin: 0 20px;
        }
        &__text {
            @include roboto(16px, 500 );
        }
    &__steps {
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
}

.fa-store {
    content: "";
    color: #9356DC;
  }

@media screen and (min-width: 767px) {
    .process__step {
        width: 100%;
    }
    .process__steps {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
}

/** Restaurants **/

.restaurants__contain {
    @include w-h(100%,auto);
    background: #fafafa;
    padding-bottom: 64px;
    h2 {
        padding: 48px 0 20px 0;
        margin-left: 20px;
        @include roboto(24px,700);
    }
}

.container__card__resto {
    @include w-h(375px,auto);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.card__resto {
    position: relative;
    @include w-h(90%,251px);
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    color: black;
    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
    &__info {
        h3 {
            @include roboto(18px,700);
            line-height: 21px;
        }
        p {
            @include roboto(17px,300);
            line-height: 25px;
        }
    }
    &__img{
        @include w-h(100%,174px);
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }
    &__info {
        @include w-h(80%,auto);
        padding: 12px 0 0 13px;
        h3, p {
            margin: 0;
        }
    }
    &__new {
        background: $third-color;
        color: darken($color: $third-color, $amount: 40);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px 2px 2px 2px;
        @include w-h(80px,29px);
        @include flexbox-center;
        @include roboto(14px,500);
        position: absolute;
        margin: 0;
        right: 15px;
        top: 15px
    }
}

/** Heart Card **/

.heart__container {
    & i {
        display: flex;
        font-size: 28px;
        transition: all 300ms ease-in-out;
        margin-left: 285px;
        margin-top: -42px;
    }
    & .heart__full {
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        opacity: 0;
        margin-top: -28px;
    }

    &:hover .heart__full {
        opacity: 1;
    }
    & .heart__empty {
        position: relative; 
        &:hover {
          opacity: 0;
          transition: 0.5s;
        }
    }
 
}
