footer {
    position: relative;
    width: 100%;
    height: auto;
    background: $iconback-color;
    display: flex;
    flex-direction: column;

    .footer_info {
        color: #FFF;
        margin: 0 0 33px 0;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .footer__logo {
        font-family: 'Shrikhand', cursive;
        color: white;
        font-family: Shrikhand;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        padding: 20px;
    }

    a {
        text-decoration: none;
        color: #FFF;
        gap: 7px;

        i {
         
            width: 32px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
