/** Bouton pages restaurant **/



.commander {
    display: flex;
    justify-content:center;
    padding: 35px;
    @include roboto ( 16px, 500);
    &_button {
        @include button-style;
        &:hover {
            @include button-hover;
        }
    }
}



