/** Bouton pages restaurant **/
.commander {
    display: flex;
    justify-content:center;
    padding: 35px;
   
    &_button {
        @include button-style;
        @include roboto ( 16px, 500);
        &:hover {
            @include button-hover;
        }
    }
}



