/** Heart Card **/

.heart__container {
    & i {
        display: flex;
        font-size: 28px;
        margin-left: 285px;
        margin-top: -42px;
    }
    & .heart__full {
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        -webkit-background-clip: text;
        opacity: 0;
        margin-top: -28px;
    }

    &:hover .heart__full {
        opacity: 1;
    }
    & .heart__empty {
        position: relative; 
        &:hover {
          opacity: 0;
          transition: 0.6s;
        }
    }
}
