/** Heart Card **/

.containerheart {
    @include w-h(28px, 28px);


    i {
        @include w-h(28px, 28px);
        display: flex;
        font-size: 25px;
        @include center;
        position: absolute;
        cursor: pointer;
    }

    .far {
        transition: 1s;
    }

    .fas {
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
    }
}

.containerheart:hover {
    .far {
        opacity: 0;
        font-size: 0;
    }

    .fas {
        animation: heart .5s forwards;
        opacity: 1;
    }
}

.heartindex {
    margin-left: 280px;
    margin-top: -45px;

}

.heartpage{
    margin-left: 20px;
}