
body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    min-width: 375px;

   

}

a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
    outline: none;
}


