
body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: none;
    outline: none;
}

h1,h2,h3,h4,h5, p{
    margin:0;
}
figure {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


