.container_menu {
    position: relative;
    margin-top: -40px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 25px 25px 0 0;
    background: #f6f6f6;

    @media screen and (min-width: 768px) {
        margin-left: 10%;
        margin-right: 10%;
    }

    .titlerestaurants {
        @include flexbox-alignCenter;
        justify-content: space-between;
        padding: 20px;

        h2 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
            font-family: Shrikhand;
            font-style: italic;
        }
    }
}


.container_menu_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
    

    .typeMenu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            @include roboto(16px, 300);
            width: 40px;
            padding-bottom: 10px;
            margin-bottom: 12px;
            border-bottom: 3px solid $third-color;
        }

        .menuItems {
            display: flex;
            flex-direction: column;
            gap: 10px;

           

            .menuItem {
                background: #fff;
                border-radius: 15px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: row;
                overflow: hidden;
                @for $i from 1 through 4 {
                    &:nth-child(#{$i}){
                        animation-delay: .5s*$i;
                    }
                }
                animation: happen 1.5s both;

                .title {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex: 1;
                    padding: 12px;

                    h3 {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        @include roboto(18px, 500);
                        margin: 0px;
                    }

                    p {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        @include roboto(15.04px, 300);
                        margin: 0px;
                    }
                }

                .price {
                    height: 70px;
                    width: 70px;
                    @include roboto (15px,700);
                    display: grid;
                    justify-content: center;
                    align-content: end;
                    margin-top: -15px;
                
                }

                .checked {
                    height: 70px;
                    width: 70px;
                    margin-right: -70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $third-color;
                    border-radius: 0 15px 15px 0;
                    transform: scaleX(0);
                    transition: width 600ms 150ms ease-in-out;
                    transform-origin: right;

                    i {
                        color: #fff;
                        display: none;
                    }
                }

                &:hover {
                    .checked {
                        margin-right: 0px;
                        transform: scaleX(1);
                        transition: 0.5s;
                        i {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}