.container_menu {
    position: relative;
    margin-top: -41px;
    padding-top: 32px;
    margin-left: 193px;
    margin-right: 193px;
    border-radius: 25px 25px 0 0;
    background: #f6f6f6;
    &_title {
        width: 100%;
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
        line-height: 41px;    
        margin: 0 17px;
    }
}

.container_menu_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 25px 13px 0 13px;
    .type {
        h2 {
            @include roboto( 16px, 300);
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            width: 40px;
            padding-bottom: 10px;
            margin-bottom: 12px;
            border-bottom: 3px solid $third-color;
        }
    }
}

.card_menu {
    width: 634px;
    margin: 0 0 12px 0;
    background: #FFF;
    border-radius: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    &_title {
        width: 90%;
        height: 55px;
        padding: 12px 0 12px 10px;
        overflow: hidden;
        h3{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include roboto (18px, 500);
            line-height: 21px;
            margin: 0px;
            padding-left: 15px;
        }
        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            @include roboto ( 15.04px, 300);
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            padding-left: 15px;
            margin-top:10px;
        }

    }
    .card_menu_price {
        text-align: right;
        width: 10%;
        padding: 35px 10px 0 10px;
    }
    .checked {
        width: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $third-color;
        border-radius: 0 25px 25px 0;
        transform: scaleX(0);
        transition: width 600ms 150ms ease-in-out;
        transform-origin: right;
        i {
            color: #FFF;
            display: none;
        }
    }
    &:hover {
        .checked {
            width: 60px;
            transform: scaleX(1);
            i {
                display: inline;
            }
        }
    }
}   

.commander {
    display: flex;
    justify-content:center;
    padding: 35px;
    &_button {

        @include button-style;
        &:hover {
            @include button-hover;
        }
    }
}