body {
  margin: 0;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  min-width: 375px;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  outline: none;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  margin-top: 20px;
  color: black;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  background: #353535;
  display: flex;
  flex-direction: column;
}
footer .footer_info {
  color: #FFF;
  margin: 0 0 33px 0;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer__logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  padding: 20px;
}
footer a {
  text-decoration: none;
  color: #FFF;
  gap: 7px;
}
footer a i {
  width: 32px;
}
footer a:hover {
  text-decoration: underline;
}

/** Heart Card **/
.heart__container i {
  display: flex;
  font-size: 28px;
  margin-left: 285px;
  margin-top: -42px;
}
.heart__container .heart__full {
  background-image: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  margin-top: -28px;
}
.heart__container:hover .heart__full {
  opacity: 1;
}
.heart__container .heart__empty {
  position: relative;
}
.heart__container .heart__empty:hover {
  opacity: 0;
  transition: 0.6s;
}

.main {
  margin: 0;
  padding: 0;
}

.loc {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.loc .fa-location-dot {
  color: #353535;
}
.loc input {
  text-align: center;
  width: 145px;
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: #EAEAEA;
  padding-left: 8px;
}
.loc input::placeholder {
  color: #353535;
}

.location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  color: #353535;
}
.location__city {
  margin-left: 13px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #353535;
}

.hero {
  background: #FAFAFA;
  width: 100%;
}
.hero__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.hero__text {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  max-width: 420px;
  padding: 15px;
}
.hero__button {
  opacity: 1;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 50px;
  width: 186px;
  align-items: center;
  justify-content: center;
}
.hero__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/** process**/
.process__contain {
  padding: 25px 0;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.process {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin-left: 20px;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: auto;
  height: 72px;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.process__step:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: #f5edff;
}
.process__number {
  background: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.process__text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fa-store {
  content: "\f54e";
  color: #9356DC;
}

@media screen and (min-width: 767px) {
  .process__step {
    width: 100%;
  }
  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
}
/** Restaurants **/
.restaurants__contain {
  width: 100%;
  height: auto;
  background: #fafafa;
  padding-bottom: 64px;
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.restaurants__contain h2 {
  padding: 48px 0 20px 0;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.container__card__resto {
  width: 375px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card__resto {
  position: relative;
  width: 90%;
  height: 251px;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: black;
}
.card__resto:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.card__resto__info h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  color: #353535;
}
.card__resto__info p {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  color: #353535;
}
.card__resto__img {
  width: 100%;
  height: 174px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.card__resto__info {
  width: 80%;
  height: auto;
  padding: 12px 0 0 13px;
}
.card__resto__info h3, .card__resto__info p {
  margin: 0;
}
.card__resto__new {
  background: #99E2D0;
  color: #278870;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px 2px 2px 2px;
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 0;
  right: 15px;
  top: 15px;
}

/*# sourceMappingURL=accueil.css.map */
