
.loc {
    @include w-h (100%, 50px);
    @include flexbox-center;
    background-color: #EAEAEA;

    .fa-location-dot {
        color: $iconback-color;
    }

    input {
        text-align: center;
        @include w-h(145px, 20px);
        @include roboto(16px, 500);
        background-color: #EAEAEA;
        padding-left: 8px;
    }

    input::placeholder {
        color: $iconback-color;
    }
}

.location {
    width: 100%;
    @include flexbox-center;
    background: #EAEAEA;
    color: $iconback-color;
    

    &__city {
        margin-left: 13px;
        @include roboto (16px, 500);
        color: $iconback-color;
    }
}

.hero {
    background: #FAFAFA;
    width: 100%;
    &__container {
        width: 100%;
        @include flexbox-center;
        flex-direction: column;
        padding: 50px 0;
        gap: 10px;
    }
    &__title {
        text-align: center;
        margin: 0;
        max-width: 250px;
        @include roboto(24px, 700);
        @media screen and (min-width: 768px) {
            @include roboto (40px, 700);
            max-width: 1440px;
        } 
    }
    &__text {
        text-align: center;
        @include roboto(18px, 300);
        padding: 15px;
    }
    &__button {
        @include button-style;
        &:hover {
            @include button-hover;
        }
    }
}