@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin center {
    align-items: center;
    justify-content: center;
}

@mixin w-h ($width: 0, $height: 0) {
    width: $width;
    height: $height;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}


@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
    display: flex ;
    height: 50px ;
    align-items: center;
    
}

@mixin roboto ($size: 16px, $weight: 500) {
    font-size: $size;
    font-weight: $weight;
    font-family: 'Roboto', sans-serif;
}