@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexbox-alignCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin w-h ($width: 0, $height: 0) {
    width: $width;
    height: $height;
}

@mixin roboto ($size: 16px, $weight: 500) {
    font-size: $size;
    font-weight: $weight;
    font-family: 'Roboto', sans-serif;
}

@mixin button-hover {
    cursor: pointer;
    box-shadow: 1px 4px 8px 0px rgba(0,0,0,0.6); 
    background: linear-gradient(to bottom right,rgb(147, 86, 220) , rgb(255, 121, 218) );   
}

@mixin button-style {

    background: linear-gradient(to bottom right, rgb(255, 121, 218) , rgb(147, 86, 220) );
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 1px 4px 8px 0px rgba(0,0,0,0.3);  
    display: flex ;
    height: 50px;
    width: 186px;
    align-items: center;
    justify-content: center;
    transition: all 400ms linear;
}

