// - COULEUR - //
$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$fourth-color: #008766;
$iconback-color: #353535;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

